html, body {
    overflow-x: hidden;
    background-color: #000;
    height: 100%;
    width: 100%;
}

header {
    height: 100px;
    background-color: #5bc0de;
}

main {
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 100px;
}

footer {

}

th, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif !important;
    font-weight: 300 !important;
    color: #2f333c !important;
}

.chart-container {
    height: auto;
}

canvas {
    max-height:300px;
}

.wrapper {

    width: 100%;
    height: 100%;
    padding: 20px;
}